* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header-wrap {
  height: calc(100vh - 56px);
  position: relative;
  background: url(assets/office-min.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.6;
}

.header-wrap > img {
  opacity: 40%;
  width: 100%;
  height: 100vh;
}
/* About Section Style*/
.about_image > img {
  max-width: 110%;
  margin: -50px;
  position: relative;
  
}
.about_image{
  height: 425px;
  width: 500px;
  overflow: hidden;
  padding-left: 5%;
  justify-content: center;
  
}
.about_text{
  
  text-align: justify;
}
.about {
  padding: 5%;
  padding-bottom: 0px;
  justify-content: center;
}
.about > .row {
  justify-content: center;
  margin-top: 5px;
}
.Secondary_Color {
  color: red;
}
/* welcome text */
.welcome-outer {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 50px;
  left: 90px;
  color: white;
}
.welcome-outer > h6 {
  margin-bottom: -5px;
}

.solutions{
  background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(assets/solutions-comp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  width: 100%;
  padding-top: 10%;
}
.solutions p, .solutions p a{
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  opacity: none;
}
.content{
  padding-bottom: 10%;
}
.solutions-main{
  background: black;
}

/* Contributor Sectioin */
.contributors{
  margin-bottom: 50px;
}
.contributor-wrap{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-wrap{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.title-wrap{
  text-align: center;
  margin-bottom: 50px;
}
.contributors> h3{
  margin-top: 20px;
}
/* Contributor Sectioin end*/

@media screen and (max-width: 1024px) {
  .welcome-outer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    top: 75%;
  }
}


