* {
  margin: 0;
  padding: 0;
}

.header-wrap {
  height: calc(100vh - 56px);
  position: relative;
  background: url(assets/office.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.6;
}

.header-wrap > img {
  opacity: 40%;
  width: 100%;
  height: 100vh;
}
/* About Section Style*/
.about_image > img {
  max-width: 110%;
  margin: -50px;
  position: relative;
  
}
.about_image{
  height: 425px;
  width: 500px;
  overflow: hidden;
  padding-left: 5%;
  justify-content: center;
  
}
.about_text{
  
  text-align: justify;
}
.about {
  padding: 5%;
  justify-content: center;
}
.about > .row {
  margin-top: 5px;
}
.Secondary_Color {
  color: red;
}
/* welcome text */
.welcome-outer {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 50px;
  left: 90px;
  color: white;
}
.welcome-outer > h6 {
  margin-bottom: -5px;
}

@media screen and (max-width: 1024px) {
  .welcome-outer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    top: 75%;
  }
}


