*{
    margin: 0;
    padding: 0;
}

.header-wrap{    
    background-color: black;
    display: flex;
    background-size: contain;
} 
 
.header-wrap>img{
    opacity: 40%;
    width: 100%;
    height: 100vh;
}
.about_image>img{  
    height: 400px;
}

.about{
    padding: 5%;  
}
.about>.row{
    margin-top: 5px;
}
.secondary_color{
    color: red;
}
/* welcome text */
.welcome-outer{
    width: auto;
    height: auto;
    
    position: absolute;
    bottom: 80px;
    left: 90px;
    color: white;
}
.welcome-outer>h6{
    margin-bottom:-5px;
}
